.home{
  max-width: 700px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.Collection{
  max-width: 140px;
  display: flex;
  flex-direction: row;
}

.poem{
  padding: 10px;
  border: 1px solid #222;
  border-radius: 7px;
  margin: 10px;
}

h1.welcome{
  color: black;
  font-size: 20px;
  text-align: center;
}

h2.title{
  color: black;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

button{
  text-align: right;
  float: right;
}

.content{
  margin-top: 30px;
}

.profile{
  display: flex;
  flex-direction: column;
}

img.profilePic{
  height: 70px;
  width: 100%;
  max-width: 70px;

}

.nav{
  display: flex;
  justify-content: center;
}

.navLink{
  margin: 0 20px;
}

.poemTitle{
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 5px;
}

.poemBody{
  white-space: pre-wrap;
  font-size: 12px;
}

.activePoem{
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}



/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/
