
.center{
  background-color: black;
  font-size: 18px;
  padding: 13px;
  display: block;
}

h2.title{
  display: inline-block;
  color: white;
  margin: 20px;
  text-align: left;
}

button{
  text-align: right;
  float: right;
}

.content{
  display: flex;
  justify-content: center;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/
