.home{
  max-width: 700px;
}

h1.welcome{
  color: black;
  font-size: 20px;
  text-align: center;
}

h2.title{
  color: black;
  font-size: 30px;
  text-align: center;
}

button{
  text-align: right;
  float: right;
}

.content{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

img.profile{
  height: 100px;
  width: auto;
}

.nav{
  display: flex;
  justify-content: flex-end;
  margin: 0 20px;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/
